/*
 *
 * MMM-ShopifyOrders
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
.MMM-ShopifyOrders h1 {
    font-size: 4em;
    margin:0;
    padding:0;
    color:#fff;
}

.MMM-ShopifyOrders h1.urgent {
  -webkit-animation: urgentglow 1s ease-in-out infinite alternate;
  -moz-animation: urgentglow 1s ease-in-out infinite alternate;
  animation: urgentglow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes urgentglow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fc6d09, 0 0 40px #fc6d09, 0 0 50px #fc6d09, 0 0 60px #fc6d09, 0 0 70px #fc6d09;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fc6d09, 0 0 40px #fc6d09, 0 0 50px #fc6d09, 0 0 60px #fc6d09, 0 0 70px #fc6d09, 0 0 80px #fc6d09;
  }
}
